{% extends "base.html.twig" %}

{% block title %}Inscris-toi
{% endblock %}


{% block body %}
	<div class="min-h-screen flex  items-center justify-center bg-linear-to-br from-gray-50 to-gray-100 py-12 px-4 sm:px-6 lg:px-8">

		<div class="container-form space-y-8">

			<div class="text-center">
				<a class="inline-block mb-8 group" href="{{path('app_register') }}">
					<img class="h-16 mx-auto transition-transform duration-200 group-hover:scale-105" src="/images/logo.png" alt="CreativeHub">
				</a>
				<h1 class="text-3xl text-gray-900 mb-2">
					{{ "Inscription"|upper}}
				</h1>
				<p class="text-sm text-gray-600 ">
					deja un compte ? 
					<a href="{{path('app_login') }}" class="font-medium transition-colors text-primary hover:text-primary-hover ">Connecte-toi</a>
				</p>
			</div>
		</div>
	</div>

{% endblock %}
